<p><%= t(".how_you_can_complete") %></p>

<p><%= t('.download_your_documents') %></p>

<p><strong><%= t('.submit_by_mail') %></strong></p>

<div>
  <div class="portal-mailing-address text--line-breaks">Internal Revenue Service
    Austin Service Center
    ITIN Operation
    P.O. Box 149342
    Austin, TX 78714-9342
  </div>
</div>
